body {
    font-family: 'Open Sans', sans-serif;
}

.PG {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 42px;
}

.wrapper {
    display: flex;
    justify-content: center;

}

.container {
    min-width: 400px;
    padding: 24px 24px;
    border: 1px gray solid;
    text-align: center;
    max-width: auto;
}

.result {
    font-size: 42px;
}

h2 {
    font-size: 52px;
    margin-bottom: 60px;
}

h4 {
    display: inline-block;
    margin: 0;
    margin-left: 2px;
}

input {
    width: 15px;
    height: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.password-length {
    margin-bottom: 6px;
    font-weight: bold;
}

.includes {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-weight: bold;
}

button {
    width: 110px;
    height: 30px;
    font-size: 18px;
    margin-top: 12px;
    position: relative;
    top: 5px;
}